-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      -if flash[:title] == 1
        %th.bg-warning <a id="title_header" href='/sort-by-title'> Movie Title </a>
      -else
        %th <a id="title_header" href='/sort-by-title'> Movie Title </a>

      %th Rating

      -if flash[:date] == 1
        %th.bg-warning <a id="release_date_header" href='/sort-by-date'> Release Date </a>
      -else
        %th <a id="release_date_header" href='/sort-by-date'> Release Date </a>

      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
