-#  This file is app/views/movies/index.html.haml
%h2 All Movies
= form_tag movies_path, :id => 'ratings_form', :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    -if @selected_ratings.size > 0 and @selected_ratings.include?(rating)
      = check_box_tag "ratings[#{rating}]", 1, true
    -else
      = check_box_tag "ratings[#{rating}]", 1, false
  = submit_tag 'Refresh', :class => 'btn btn-primary', :id => 'ratings_submit'

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      -if flash[:title] == 1
        %th.bg-warning.hilite <a id="title_header" href='/sort-by-title'> Movie Title </a>
      -else
        %th <a id="title_header" href='/sort-by-title'> Movie Title </a>

      %th Rating

      -if flash[:release_date] == 1
        %th.bg-warning.hilite <a id="release_date_header" href='/sort-by-date'> Release Date </a>
      -else
        %th <a id="release_date_header" href='/sort-by-date'> Release Date </a>

      %th More Info
  %tbody
    -if @selected_ratings == nil
      -@movies.each do |movie|
        %tr
          %td= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td= link_to "More about #{movie.title}", movie_path(movie)
    -else
      -@movies.each do |movie|
        -if @selected_ratings.include?(movie.rating)
          %tr
            %td= movie.title
            %td= movie.rating
            %td= movie.release_date
            %td= link_to "More about #{movie.title}", movie_path(movie)


= link_to 'Add new movie', new_movie_path
